.item{
    align-items: center;
    border-radius: 2px;
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    padding: 1px;
    text-align: center;
    width: 100%;
}
.item.facebook { background:#3a5795; }
.item.instagram { background:#517fa4; }
.item.youtube { background:#b31217; }
.item.twitter { background:#00a5e5; }
.item.linkedin { background: #0077b5; }

